Repository bcgov/gwells, pull requests merged in 2023-11, with the labels that each got.

#2035 [GWELLS-2011/2013] FEATURE** New attachments UI
  app/backend/gwells/documents.py
  app/backend/requirements.txt
  app/backend/submissions/views.py
  app/frontend/package-lock.json
  app/frontend/package.json
  app/frontend/src/common/constants.js
  app/frontend/src/common/helpers/getLongFormLabel.js
  app/frontend/src/common/store/documents.js
  app/frontend/src/submissions/components/SubmissionForm/ActivitySubmissionForm.vue
  app/frontend/src/submissions/components/SubmissionForm/Documents.vue
  app/frontend/src/submissions/components/SubmissionForm/SubmissionHistory.vue
  app/frontend/src/submissions/components/SubmissionForm/WellType.vue
  app/frontend/src/submissions/components/SubmissionPreview/SubmissionPreview.vue
  app/frontend/src/wells/components/Documents.vue
  app/frontend/src/wells/views/WellDetail.vue
  app/frontend/tests/unit/specs/aquifers/components/__snapshots__/Search.spec.js.snap
  app/frontend/tests/unit/specs/aquifers/components/__snapshots__/View.spec.js.snap
  app/frontend/tests/unit/specs/wells/__snapshots__/EditWellAquifers.spec.js.snap
  app/frontend/tests/unit/specs/wells/__snapshots__/WellDetail.spec.js.snap
  app/frontend/vue.config.js
  docker-compose.yml
  openshift/docker/backend/Dockerfile.dev
Labels: Frontend, Backend, Docker, OpenShift

#2036 [GWELLS-2011] FEATURE** Update visuals, change how date is selected
  app/backend/gwells/documents.py
  app/frontend/src/common/constants.js
  app/frontend/src/submissions/components/SubmissionForm/Documents.vue
  app/frontend/src/wells/components/Documents.vue
Labels: Frontend, Backend

#2037 [GWELLS-2011/2013] HOTFIX** correct date_of_action to date_of_uploads
  app/backend/gwells/documents.py
  app/frontend/src/wells/components/Documents.vue
Labels: Frontend, Backend

#2047 [HOTFIX][NRPTI-2038/2043]** Bug fix for aquifer search link and registry attachments
  app/backend/gwells/documents.py
  app/frontend/src/aquifers/components/Search.vue
  app/frontend/tests/unit/specs/aquifers/components/__snapshots__/Search.spec.js.snap
Labels: Frontend, Backend

#2057 [GWELLS-2011] FEATURE** Create file count in database for searching
  README.md
  app/backend/aquifers/fixtures/aquifers.json
  app/backend/gwells/fixtures/wellsearch.json
  app/backend/wells/admin.py
  app/backend/wells/constants.py
  app/backend/wells/migrations/0142_auto_20231109_2145.py
  app/backend/wells/migrations/0143_attach_attachments_to_wells.py
  app/backend/wells/models.py
  app/backend/wells/stack.py
  app/backend/wells/urls.py
  app/backend/wells/views.py
  app/frontend/src/common/services/ApiService.js
  app/frontend/src/common/store/documents.js
  app/frontend/src/submissions/components/SubmissionForm/Documents.vue
  docker-compose.yml
Labels: Frontend, Backend, Docker

#2058 [GWELLS-2011] HOTFIX** Reduce time complexity on recent migration
  app/backend/wells/migrations/0143_attach_attachments_to_wells.py
Labels: Backend

#2059 [GWELLS-2011] HOTFIX** edit migrations
  app/backend/wells/migrations/0143_attach_attachments_to_wells.py
Labels: Backend

#2061 [GWELLS-2011] HOTFIX** reduce memory consumption in function
  app/backend/wells/migrations/0143_attach_attachments_to_wells.py
Labels: Backend

#2062 [GWELLS-2026] FEATURE** First attempt to create proper counts for attachments
  app/backend/wells/management/commands/populate_attachments_count.py
  app/backend/wells/views.py
Labels: Backend

#2066 [GWELLS-2064] UPDATE** update models to newest document types
  app/backend/wells/constants.py
  app/backend/wells/migrations/0144_auto_20231123_2254.py
  app/backend/wells/models.py
  app/frontend/src/common/constants.js
  docker-compose.yml
Labels: Frontend, Backend, Docker

#2067 [GWELLS-2011] HOTFIX** change file name per request, add handlers
  app/backend/gwells/documents.py
  app/backend/wells/constants.py
  app/backend/wells/management/commands/populate_attachments_count.py
  app/backend/wells/migrations/0145_auto_20231127_2105.py
  app/backend/wells/models.py
  app/frontend/src/common/constants.js
  app/frontend/src/common/store/documents.js
  app/frontend/src/submissions/components/SubmissionForm/Documents.vue
Labels: Frontend, Backend

#2068 [GWELLS-2011] HOTFIX** correct == to <=
  app/backend/wells/management/commands/populate_attachments_count.py
Labels: Backend

#2069 [GWELLS-2007] FEATURE** Search wells that contain [document type]
  app/backend/wells/filters.py
  app/backend/wells/management/commands/populate_attachments_count.py
  app/backend/wells/models.py
  app/backend/wells/views_v2.py
  app/frontend/src/common/constants.js
  app/frontend/src/wells/components/AdvancedSearchForm.vue
  app/frontend/src/wells/components/mixins/filters.js
Labels: Frontend, Backend
