Repository bcgov/gwells, pull requests merged in 2023-12, with the labels that each got.

#2071 [GWELLS-2045] BUGFIX/UPDATE** Update dropdown list values, show full name instead of codes
  app/backend/wells/management/commands/update_analysis_method_codes.py
  app/backend/wells/management/commands/update_codes.py
  app/backend/wells/management/commands/update_pumping_test_description_codes.py
  app/backend/wells/migrations/analysis_method_codes.json
  app/backend/wells/migrations/pumping_test_description_codes.json
  app/frontend/src/wells/views/WellDetail.vue
  docker-compose.yml
Labels: Frontend, Backend, Docker

#2073 [GWELLS-2048] BUG FIX** Display Licences in Well Summary
  app/backend/wells/admin.py
  app/backend/wells/models.py
  app/backend/wells/views.py
  app/frontend/src/wells/views/WellDetail.vue
  app/frontend/tests/unit/specs/wells/__snapshots__/WellDetail.spec.js.snap
Labels: Frontend, Backend

#2080 [HOTFIX][GWELLS-2070]** maintain aquifer data regardless of changes, prevent overwrite
  app/frontend/src/submissions/views/SubmissionsHome.vue
Labels: Frontend

#2083 [GWELLS-2082]DOCS** Update README
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
  app/database/README.md
Labels: Database

#2084 [FEATURE][GWELLS-#2053] changed hex colour values for hydraulic wells to be more visible
  app/frontend/src/common/assets/images/wells-hydraulic.svg
  app/frontend/src/common/mapbox/layers.js
Labels: Frontend

#2086 [GWELLS-2085] FIX** Add sortable field to search result parameters
  app/frontend/src/wells/components/SearchResults.vue
  app/frontend/src/wells/components/mixins/filters.js
Labels: Frontend

#2092 [FEATURE][GWELLS-2052] Add Aquifer Parameters to Aquifer search
  app/backend/aquifers/management/commands/update_aquifer_resource_section_code.py
  app/backend/aquifers/migrations/aquifer_resource_sections.json
  app/backend/aquifers/views_v2.py
Labels: Backend

#2096 [FEATURE][GWELLS-2053part2] Increased map well halo width to be more visible
  app/frontend/src/common/mapbox/layers.js
Labels: Frontend
