Repository bcgov/gwells, pull requests merged in 2024-04, with the labels that each got.

#2208 [GWELLS-2205] FEATURE** Add table to display registrants organizations
  app/frontend/src/registry/components/people/OrganizationEdit.vue
Labels: Frontend

#2206 [GWELLS-2197] FEATURE** CRUD operations for Organizations Notes
  Makefile
  app/backend/registries/views.py
  app/frontend/src/common/store/auth.js
  app/frontend/src/registry/components/people/Notes.vue
  app/frontend/tests/unit/specs/people/Notes.spec.js
Labels: Frontend, Backend

#2210 [GWELLS-2198] FEATURE** CRUD Functionality for Persons Notes
  app/backend/registries/serializers.py
  app/backend/registries/views.py
  app/frontend/src/registry/components/people/Notes.vue
  app/frontend/src/registry/components/people/PersonDetail.vue
  app/frontend/src/registry/components/people/PersonNotes.vue
  app/frontend/tests/unit/specs/people/PersonDetail.spec.js
  app/frontend/tests/unit/specs/people/PersonNotes.spec.js
Labels: Frontend, Backend

#2217 [CHANGE][GWELLS-2186] Commenting out Google Analytics
  app/backend/gwells/templates/gwells/base_spa.html
  app/frontend/src/aquifers/components/View.vue
  app/frontend/src/aquifers/store/search.js
  app/frontend/src/main.js
  app/frontend/src/wells/components/SearchResultExports.vue
Labels: Frontend, Backend

#2219 Revert "[CHANGE][GWELLS-2186] Commenting out Google Analytics"
  app/backend/gwells/templates/gwells/base_spa.html
  app/frontend/src/aquifers/components/View.vue
  app/frontend/src/aquifers/store/search.js
  app/frontend/src/main.js
  app/frontend/src/wells/components/SearchResultExports.vue
Labels: Frontend, Backend

#2220 [CHANGE][GWELLS-2189] Add well signals tests
  Makefile
  app/backend/wells/tests/test_signals.py
Labels: Backend

#2221 [GWELLS-NA] Fix Single page submission
  app/frontend/src/submissions/views/SubmissionsHome.vue
Labels: Frontend

#2215 [CHANGE][GWELLS-2186] Changed web Analytics implementations
  app/backend/gwells/settings/__init__.py
  app/backend/gwells/templates/gwells/base_spa.html
  app/backend/gwells/urls.py
  app/backend/gwells/views/api.py
  app/frontend/package.json
  app/frontend/src/aquifers/components/View.vue
  app/frontend/src/aquifers/store/search.js
  app/frontend/src/common/components/Auth.vue
  app/frontend/src/main.js
  app/frontend/src/qaqc/components/QaQcExports.vue
  app/frontend/src/registry/components/search/SearchHome.vue
  app/frontend/src/wells/components/Documents.vue
  app/frontend/src/wells/components/Exports.vue
  app/frontend/src/wells/components/SearchResultExports.vue
  app/frontend/src/wells/views/WellDetail.vue
  app/frontend/src/wells/views/WellSearch.vue
  docker-compose.yml
  openshift/backend.dc.json
  openshift/ocp4/backend.dc.json
  tests/api-tests/configuration_api_tests.json
Labels: Frontend, Backend, Docker, OpenShift, Testing
