Repository bcgov/gwells, pull requests merged in 2024-07, with the labels that each got.

#2267 [GWELLS-2263] FIX** Add Warning Class to Text on Submission Form
  app/frontend/src/submissions/components/SubmissionForm/ActivitySubmissionForm.vue
Labels: Frontend

#2273 Gwells/2212pid dashes
  app/backend/wells/filters.py
  app/frontend/src/submissions/components/SubmissionForm/Location.vue
  app/frontend/src/submissions/views/SubmissionsHome.vue
  tests/api-tests/submissions_api_tests.json
  tests/api-tests/submissions_v2_api_tests.json
Labels: Frontend, Backend, Testing

#2279 [GWELLS-2265] Feature** Stores user column preferences in local storagre
  app/frontend/src/wells/components/SearchColumnSelect.vue
  app/frontend/src/wells/components/SearchResults.vue
Labels: Frontend

#2264 Gwells-2211 *FEATURE add closed/abandoned wells colour
  app/backend/wells/migrations/0149_add_well_status_to_view.py
  app/backend/wells/serializers_v2.py
  app/backend/wells/views_v2.py
  app/frontend/src/aquifers/components/AquiferMap.vue
  app/frontend/src/aquifers/components/SingleAquiferMap.vue
  app/frontend/src/common/assets/images/wells-closed.svg
  app/frontend/src/common/mapbox/images.js
  app/frontend/src/common/mapbox/layers.js
  app/frontend/src/wells/components/SearchMap.vue
  docker-compose.yml
Labels: Frontend, Backend, Docker

#2282 [GWELLS-2265] HOTFIX** Fix issue with logout/login
  app/frontend/src/wells/components/SearchColumnSelect.vue
  app/frontend/src/wells/store/index.js
Labels: Frontend
