Repository bcgov/gwells, pull requests merged in 2024-02, with the labels that each got.

#2129 [GWELLS-2093] FEATURE** Gwells 2093 lat long validation checks + point n click map
  app/frontend/src/submissions/components/SubmissionForm/ActivitySubmissionForm.vue
  app/frontend/src/submissions/components/SubmissionForm/Coords.vue
  app/frontend/src/submissions/components/SubmissionForm/CoordsMap.vue
  app/frontend/src/submissions/views/SubmissionsHome.vue
Labels: Frontend

#2131 [BUG][GWELLS-2104] Return unique licence numbers
  app/backend/aquifers/fixtures/aquifers.json
  app/backend/wells/serializers_v2.py
Labels: Backend

#2134 [HOTFIX][GWELLS-#2132] - Check if the $ref exists for activitySubmission, bug fix on Submit
  app/frontend/src/submissions/views/SubmissionsHome.vue
Labels: Frontend

#2126 [BUG][Gwells-2108]
  README.md
  app/backend/gwells/views/bulk.py
Labels: Backend

#2143 [GWELLS-2050] FEATURE** Date export Endpoint DataBC
  app/backend/aquifers/views_v2.py
  app/backend/gwells/management/commands/export_databc.py
  app/backend/wells/urls.py
  app/backend/wells/views.py
Labels: Backend

#2144 [FEATURE][GWELLS-2051] Added "Well - aquifer parameters" filter on the map on Aquifer Summary page and Aquifer Search Page
  app/backend/wells/migrations/0146_add_aquifer_parameters_to_wells_view.py
  app/frontend/src/aquifers/components/AquiferMap.vue
  app/frontend/src/aquifers/components/SingleAquiferMap.vue
  app/frontend/src/aquifers/popup.js
  app/frontend/src/common/mapbox/layers.js
  app/frontend/src/wells/components/SearchMap.vue
Labels: Frontend, Backend

#2145 [GWELLS-2139] DEVELOPER FEATURES** update makefile , gitignore, readme, vue packages
  .gitignore
  Makefile
  README.md
  app/frontend/package.json
Labels: Frontend

#2148 [GWELLS-NA] BUGFIX** put back GeoJSONIterator
  app/backend/aquifers/views_v2.py
Labels: Backend

#2153 [FIX][GWELLS-2122] - FIX CHANGE HISTORY
  app/frontend/src/submissions/views/SubmissionsHome.vue
Labels: Frontend

#2156 [FIX][GWELLS-2154] Use Aquifer Parameters table when filtering Aquifers
  app/backend/aquifers/views_v2.py
Labels: Backend

#2157 [GWELLS-2024] FEATURE** Change regional area keys in API response
  app/backend/registries/views.py
Labels: Backend

#2159 [GWELLS-2032] FIX** Modify single field in zip to remove "Regional"
  app/backend/registries/fixtures/regional_areas.zip
Labels: Backend

#2152 [CHANGE][GWELLS-2112] Update well submission validation
  app/frontend/src/common/constants.js
  app/frontend/src/common/helpers/isValidPostalCodeOrZipCode.js
  app/frontend/src/submissions/components/SubmissionForm/ActivitySubmissionForm.vue
  app/frontend/src/submissions/components/SubmissionForm/Completion.vue
  app/frontend/src/submissions/components/SubmissionForm/MethodOfDrilling.vue
  app/frontend/src/submissions/components/SubmissionForm/Owner.vue
  app/frontend/src/submissions/components/SubmissionForm/WellType.vue
  app/frontend/src/submissions/views/SubmissionsHome.vue
  tests/api-tests/wells_search_api_tests.json
  tests/api-tests/wells_search_v2_api_tests.json
Labels: Frontend, Testing

#2164 [FIX][GWELLS-2112] Fix Typo
  app/frontend/src/common/constants.js
  app/frontend/src/submissions/views/SubmissionsHome.vue
Labels: Frontend

#2163 [GWELLS-2162] DEV** Get hotloading running in the frontend container
  docker-compose.yml
Labels: Docker

#2165 [GWELLS-2128] FEATURE** omit dashes when searching by Parcel Identifier
  app/backend/wells/filters.py
Labels: Backend

#2167 [GWELLS-2128] HOTFIX** correct legal_id to legal_pid
  app/backend/wells/filters.py
Labels: Backend

#2172 [GWELLS-2142] TESTS** Update API-Testing Files, bash scripts, MAKE command
  Makefile
  tests/api-tests/.envrc
  tests/api-tests/README.md
  tests/api-tests/local_aquifers.sh
  tests/api-tests/local_registries.sh
  tests/api-tests/local_run_all.sh
  tests/api-tests/local_submissions.sh
  tests/api-tests/local_wells.sh
  tests/api-tests/local_wells_search.sh
  tests/api-tests/runnewman.sh
  tests/api-tests/wells_search_api_tests.json
  tests/api-tests/wells_search_v2_api_tests.json
Labels: Testing

#2174 [BUG][GWELLS-2173] temporary fix for aquifer reversion from bulk updates
  app/backend/gwells/views/bulk.py
Labels: Backend
