Repository bcgov/gwells, pull requests merged in 2024-01, with the labels that each got.

#2100 [CHANGE][GWELLS-2087] audit well data search field sortable keys
  app/frontend/src/wells/components/SearchResults.vue
  app/frontend/src/wells/components/mixins/filters.js
Labels: Frontend

#2101 [HOTFIX][GWELLS-2052] Added empty string check
  app/backend/aquifers/views_v2.py
Labels: Backend

#2099 [CHANGE][GWELLS-2090] created a command to update/create the description of drilling_method_codes
  app/backend/gwells/fixtures/wellsearch-codetables.json
  app/backend/wells/management/commands/update_drilling_method_codes.py
Labels: Backend

#2107 [BUG FIX][GWELLS-2104] Refactor get licence number method
  app/backend/wells/serializers_v2.py
Labels: Backend

#2106 [FEATURE[GWELLS-2054] Dynamically Adjust Legend for Aquifer summary map based on elements rendered in view
  app/frontend/src/aquifers/components/SingleAquiferMap.vue
Labels: Frontend

#2115 [FEATURE][GWELLS-2094] API CALL MOVED TO BACKEND
  app/backend/wells/urls.py
  app/backend/wells/views.py
  app/frontend/src/common/services/ApiService.js
  app/frontend/src/submissions/components/SubmissionForm/Location.vue
  app/frontend/src/submissions/components/SubmissionForm/Owner.vue
Labels: Frontend, Backend

#2117 [FEATURE][GWELLS-2049] Added a hyperlink to the tool tip description of Aquifer notations on Aquifer Summary page
  app/frontend/src/aquifers/components/View.vue
  app/frontend/tests/unit/specs/aquifers/components/__snapshots__/View.spec.js.snap
Labels: Frontend

#2111 [FEATURE][GWELLS-2094] Address autofill/autocomplete added to Well Owner and Well Location forms
  app/backend/wells/urls.py
  app/backend/wells/views.py
  app/frontend/src/common/services/ApiService.js
  app/frontend/src/submissions/components/SubmissionForm/Location.vue
  app/frontend/src/submissions/components/SubmissionForm/Owner.vue
  docker-compose.yml
  openshift/backend.dc.json
  openshift/ocp4/backend.dc.json
Labels: Frontend, Backend, Docker, OpenShift

#2118 Revert "[FEATURE][GWELLS-2094] Address autofill/autocomplete added to Well Owner and Well Location forms"
  app/backend/wells/urls.py
  app/backend/wells/views.py
  app/frontend/src/common/services/ApiService.js
  app/frontend/src/submissions/components/SubmissionForm/Location.vue
  app/frontend/src/submissions/components/SubmissionForm/Owner.vue
  docker-compose.yml
  openshift/backend.dc.json
  openshift/ocp4/backend.dc.json
Labels: Frontend, Backend, Docker, OpenShift

#2121 [FEATURE][GWELLS-2094-4] Address autofill/autocomplete added to Well Owner and Well Location forms
  app/backend/wells/urls.py
  app/backend/wells/views.py
  app/frontend/src/common/services/ApiService.js
  app/frontend/src/submissions/components/SubmissionForm/Location.vue
  app/frontend/src/submissions/components/SubmissionForm/Owner.vue
  docker-compose.yml
  openshift/backend.dc.json
  openshift/ocp4/backend.dc.json
Labels: Frontend, Backend, Docker, OpenShift
